In [1]:
import pandas as pd

df_fitness = pd.read_csv("market_fitness_fr.csv")
df_cuisine = pd.read_csv("market_cuisine_fr.csv")
df_jeux = pd.read_csv("market_jeux_video_fr.csv")

df_fitness["niche"] = "fitness"
df_cuisine["niche"] = "cuisine"
df_jeux["niche"] = "jeux_video"

df = pd.concat([df_fitness, df_cuisine, df_jeux], ignore_index=True)
df.head()

,video_id,title,channel,published_at,views,likes,comments,niche
0,6FiCbYdzgD4,Mi Nuevo Gimnasio En Casa,AndoniFitness,2025-09-13T19:38:25Z,297967,12041,231,fitness
1,sbu2vNj-kfY,Holy Moly #andrewjacked #bodybuilding,Fazi Fitness,2026-01-11T18:56:40Z,899,49,2,fitness
2,h3lTfxszM30,the contrast ðŸ¤§ #gym #trending #fit #fitness #...,LilBigNanc,2025-05-15T06:29:40Z,28105190,967697,1271,fitness
3,OwrJB76rE88,Je DÃ©fie un Cascadeur en Musculation !,LeBouseuh,2026-01-10T11:02:26Z,56408,2805,97,fitness
4,6_J79fmaLX8,back ant chest workout (no rest)ðŸ”¥#short#backwo...,Lambert.A,2026-01-12T19:53:40Z,3,0,0,fitness

In [2]:
df[["niche","views","likes","comments"]].groupby("niche").describe().round(2)

             views                                                   \
             count        mean          std  min      25%       50%
niche
cuisine      999.0   482373.99   1547653.21  0.0   1691.5   53990.0
fitness      983.0  2678256.88  12254397.28  0.0   2910.5  104599.0
jeux_video  1000.0  1645502.38   9331248.28  0.0  23964.0  172802.5

                                      likes            ...           \
                   75%          max   count      mean  ...      75%
niche                                                  ...
cuisine      308743.50   33479565.0   999.0   8155.17  ...   3841.5
fitness     1164026.50  308544780.0   983.0  44486.32  ...  19460.0
jeux_video   844422.25  235289496.0  1000.0  34800.54  ...  17946.5

                      comments                                             \
                  max    count    mean      std  min   25%    50%     75%
niche
cuisine      299341.0    999.0  163.72   698.16  0.0   1.0   17.0  104.50
fitness     3275121.0    983.0  421.57  1627.43  0.0   2.0   34.0  266.00
jeux_video  6230873.0   1000.0  832.74  3149.26  0.0  24.0  164.0  683.25


                max
niche
cuisine     18295.0
fitness     37268.0
jeux_video  69372.0

[3 rows x 24 columns]

In [3]:
df["engagement_rate"] = (df["likes"] + df["comments"]) / df["views"].replace(0, 1)
df.groupby("niche")["engagement_rate"].describe().round(4)

             count    mean     std  min     25%     50%     75%     max
niche
cuisine      999.0  0.0317  0.1129  0.0  0.0099  0.0182  0.0315  3.0000
fitness      983.0  0.0261  0.0681  0.0  0.0094  0.0180  0.0310  2.0000
jeux_video  1000.0  0.0330  0.0356  0.0  0.0135  0.0266  0.0437  0.4667

In [4]:
df["published_at"] = pd.to_datetime(df["published_at"], errors="coerce", utc=True)
df["weekday"] = df["published_at"].dt.day_name()
df["hour"] = df["published_at"].dt.hour

df.groupby(["niche","weekday"])["views"].median().sort_values(ascending=False).head(15)

niche       weekday
jeux_video  Thursday     466867.0
            Wednesday    442493.0
            Friday       400993.0
fitness     Thursday     390288.0
            Friday       208188.0
            Wednesday    204685.0
jeux_video  Saturday     192309.0
cuisine     Wednesday    121161.0
jeux_video  Sunday        92262.5
cuisine     Friday        91320.0
            Thursday      89112.0
jeux_video  Monday        76872.0
fitness     Saturday      62748.0
            Sunday        52102.0
cuisine     Tuesday       44207.5
Name: views, dtype: float64